#!/bin/bash
#
# Author: Severin Kaderli <severin.kaderli@gmail.com>
# Shortcut for clear because I often type the DOS command instead
alias cls="clear"

# Some aliases for ls
alias ls="ls -Fhl --color=auto"
alias ll="ls -aFhl --color=auto"

# cd shortcut to get to my Projects folder
alias pj="cd ~/Projects"
