#!/bin/bash
#
# Author: Severin Kaderli <severin.kaderli@gmail.com>
# Shortcut for clear because I often type the DOS command instead
alias cls="clear"

# Some aliases for ls
alias ls="ls -l --color=auto"
alias ll="ls -al"
