[user]
	email = severin.kaderli@gmail.com
	name = Severin Kaderli

[alias]
	# Display the history of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# Shortcut for status
	s = status

	# Add all files
	a = add --all

	# Create a commit and sign it off
	c = commit -s -m

	# Push to the master branch of the origin remote
	p = push origin master

	# Shortcut for diff
	d = diff

[color]
	# Activate color use in git commands
	ui = auto
