[user]
	email = severin.kaderli@gmail.com
	name = Severin Kaderli

[alias]
	# Display the history of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# Shortcut for status
	s = status

	# Add all files
	a = add --all

	# Create a commit and sign it off
	c = commit -s

	# Push to the master branch of the origin remote
	p = push --follow-tags
	
	# Tag the latest commit
	t = !sh -c 'git tag -a $1 -m $1' -

	# Shortcut for diff
	d = diff

[color]
	# Activate color use in git commands
	ui = auto

[core]
	editor = vim

[push]
	default = simple
